@import "../styles/global.css";

.dot {
  /* @apply text-amber-200 m-1 opacity-50 align-middle text-xs fa-solid fa-circle; */
  
  animation-name: animateContent;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-out-circ;
  animation-duration: 2s;
}

@keyframes animateContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
