@import "../styles/global.css";

.container {
  margin: auto;
  height: 100vh;
  @apply w-11/12 md:w-9/12 lg:w-1/2;
  background-color: var(--light-blue);
  font-family: "Josefin Sans", sans-serif;
  color: white;
  border-right: 2px;
  border-left: 2px;
  border-style: solid;
  border-color: var(--highlight-blue);
  z-index: -100 !important;

  /* animation-name: animateContent; */
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: 1s;
}

@keyframes animateContent {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    border-left: 2px solid #0060bf;
    border-right: 2px solid #0060bf;
  }
}

.nav-links {
  @apply select-none;
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: center;
}
.nav-link-item {
  padding-right: 2rem;
  margin-top: 1em;
  align-items: center;
}
.nav-link-text {
  @apply text-amber-400 drop-shadow;
}

.nav-link-text:hover {
  @apply text-amber-200 underline;
}

.nav-link-current {
  @apply text-amber-200;
}
