@import "../styles/global.css";

.container {
  margin: auto;
  height: 100vh;
  @apply w-10/12 lg:w-1/2;
  background-color: var(--light-blue);
  font-family: "Josefin Sans", sans-serif;
  color: white;
  border-right: 2px;
  border-left: 2px;
  border-style: solid;
  border-color: var(--highlight-blue);
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: center;
}
.nav-link-item {
  padding-right: 2rem;
  margin-top: 1em;
  align-items: center;
}
.nav-link-text {
  @apply text-amber-400 drop-shadow;
}

.nav-link-text:hover {
  @apply text-amber-200 underline;
}
